@font-face {
    font-family: 'Another Typewriter';
    src: url('AnotherTypewriter.woff2') format('woff2'),
        url('AnotherTypewriter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

