@font-face {
    font-family: 'Another Typewriter';
    src: url('AnotherTypewriter.woff2') format('woff2'),
        url('AnotherTypewriter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acumin Variable Concept';
    src: url('AcuminVariableConcept.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Crayon Hand Regular';
    src: url('CrayonHandRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
