.active-song,
.rhap_progress-section,
.audio-player svg {
  color: red;
}

.rhap_main {
  width: 90%;
  margin: auto;
}

.rhap_container {
  border: none;
  box-shadow: none;
  background-color: transparent;
  width: 100%;
  margin: auto;
}

.rhap_bar-color,
.rhap_progress-bar > [class^='rhap_progress'],
.rhap_volume-indicator {
  background-color: red;
}

.rhap_container {
  padding: 0;
}

.rhap_volume-bar {
  background-color: rgba(255, 0, 0, 0.4);
}

@media (min-width: 300px) {
  .audio-player-container {
    width: 100%;
  }
}

@media (min-width: 450px) and (max-width: 500px) {
  .audio-player-container {
    width: 85%;
  }
}

@media (min-width: 500px) and (max-width: 560px) {
  .audio-player-container {
    width: 75%;
  }
}

@media (min-width: 560px) and (max-width: 640px) {
  .audio-player-container {
    width: 70%;
  }
}

@media (min-width: 640px) {
  .audio-player-container {
    width: 75%;
  }

  .rhap_main-controls {
    margin: 0 0 0 3rem;
  }
}

@media (min-width: 768px) {
  .rhap_main-controls {
    margin: 0 0 0 4rem;
  }
}

@media (min-width: 1024px) {
  .rhap_container {
    width: 68%;
  }
}

@media (min-width: 1280px) {
  .rhap_main-controls {
    margin: 0 0 0 2.5rem;
  }

@media (min-width: 1440px) {
  .rhap_container {
    width: 85%;
  }
}

  .audio-player-container {
    width: 100%;
  }
}

@media (min-width: 1800px) {
  .rhap_main-controls {
    margin: 0 0 0 2.5rem;
  }

  .audio-player-container {
    width: 100%;
  }
}
