.translateButton {
  background: transparent;

  font: inherit;

  cursor: pointer;

  &:focus {
    outline: none;
  }

  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.navbar___portrait {
  transition: all ease-in-out 250ms;
}

.navbar___landscape {
  height: auto;
}
