.principalContainer {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
}

@media (min-width: 1024px) {
    .principalContainer {
        flex-direction: row;
    }
}
