.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.imgWrapper > img {
  width: 70%;
}

@media(min-width: 1024px) {
  .imgWrapper > img {
    width: 90%;
  }
}
