@media (min-width: 1024px) {
  .grid-container {
    width: 70%;
  }
}

@media (min-height: 450px) and (max-height: 520px) {
  .lightbox-card-message > h2 {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}

@media (min-width: 1024px) and (min-height: 440px) {
  .lightbox-card-message {
    height: 40%;
  }
}

@media (min-width: 1280px) and (min-height: 440px) and (max-height: 600px) {
  .lightbox-card-message {
    height: 45%;
  }
}

@media (min-height: 1024px) {
  .lightbox-card-message {
    transform: translateY(-35%);
    height: 18%;
  }
}
