.lightbox-container:hover img {
  transform: scale(1.5);
}

.lightbox-container img {
  transition: transform 0.3s ease-out;
  transform: scale(2.1);
}

.images-container {
  grid-template-rows: masonry;
  grid-auto-flow: dense;
}

.inner-grid {
  grid-template-rows: masonry;
  grid-auto-flow: dense;
}

@media (min-width: 768px) and (max-width: 1105px) {
  .lightbox-container:hover img {
    transform: scale(1.9);
  }
}

@media (min-height: 768px) {
  .lightbox-card-message {
    transform: translateY(10%);
    height: 25%;
  }
}

@media (min-height: 1024px) {
  .lightbox-card-message {
    transform: translateY(-50%);
    height: 18%;
  }
}
