.lightbox-container:hover img {
  transform: scale(1.5);
}

.lightbox-container img {
  transition: transform 0.3s ease-out;
  transform: scale(2.1);
}

@media (min-width: 768px) and (max-width: 1105px) {
  .lightbox-container:hover img {
    transform: scale(1.8);
  }
}
