.wrapper {
  display: flex;
  padding: 1rem;
}

.message {
  font-size: 1.30rem;
  font-weight: 500;
  color: rgba(0,0,0,0.65);
  font-family: Acumin,sans-serif;
  padding-left: 3rem;
  padding-right: 3rem;
}
