@import url('../../../../assets/fonts/another-typewriter/stylesheet.css');

.react-tabs {
    -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
    margin: 10px 1rem;
    border-bottom: solid 1px rgb(185, 185, 185);
    display: flex;
}

li {
    width: 15%;
    font-family: 'Acumin Variable Concept';
    font-size: 1.1rem;
    margin-right: 2px;
}

.react-tabs__tab {
    display: block;
    border-bottom: none;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    background-color: rgb(216, 216, 216, 0.5);
    transition: ease-in-out 0.2s;
}

.react-tabs__tab:hover {
    background-color: rgba(248, 248, 248, 0.4);
}

.react-tabs__tab--selected {
    background: #fff;
    color: black;
    border-radius: 5px 5px 0 0;
}

.react-tabs__tab--selected:hover {
    background: #fff;
}

.react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
}

.react-tabs__tab:focus {
    border-color: transparent;
    outline: none;
}

.react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: none;
}

.react-tabs__tab-panel {
    display: none;
}

.react-tabs__tab-panel--selected {
    display: block;
}
