.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0,0,0,0.98);
  font-weight: 700;
  font-family: Another Typewriter,sans-serif;
  font-size: 1rem;
  width: 100%;
}

.imgWrapper{
  width: 20%;
}

.titleWrapper{
  width: 80%;
}

@media(min-width: 650px) {
  .imgWrapper{
    width: 10%;
  }

  .titleWrapper{
    width: 70%;
  }

  .item{
    gap: 0.32rem;
    justify-content: flex-start;
  }
}
